.logo {
    width: 150px;
    height: auto;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: white;
    margin: 0 15px 0 15px;
    cursor: pointer;
}

a:hover {
    text-shadow: 1px 1px rgb(189, 188, 188);
}

.shine {
    text-shadow: 1px 1px rgb(189, 188, 188);
}

.big {
    width: 250px !important;
}

.searchInput {
    background-color: transparent;
    padding: 5px 20px 5px 20px;
    border: none;
    font-size: 14px;
    color: white;


    &:focus {
        outline: none;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    //overflow: hidden;
    height: 60px;



    .border {
        border: 1px solid white;
    }


    .left {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        position: relative;

    }

    .links {
        margin-left: 30px;
    }

    .right {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        position: relative;

        .bell {
            height: 20px;
            margin: 0 10px 0 10px;
            cursor: pointer;
        }

        .search {
            height: 20px;
            cursor: pointer;
        }

        .searchDiv {
            display: flex;
            align-items: center;
            // border: 1px solid white;
            padding-left: 10px;
            transition: width 1s;
            width: 30px;
            padding: 5px 5px 5px 5px;

        }


    }

    .menuPopUp {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgb(1, 37, 28);
        width: 200px;
        height: fit-content;
        padding: 20px;
        top: 50px;
        right: 50px;
        z-index: 3;
        gap: 20px;

        a {
            text-align: center;
            display: flex;
            align-items: center;
            gap: 20px;
            transform: translateY(5px);
        }
    }

    .editIcon {
        width: 20px;
        height: 20px;
    }

    .line {
        background-color: grey;
        height: 1px;
        width: 100%;
    }
}

.linkSmall {
    cursor: pointer;
    color: white;
    font-size: 14px;
    transform: translateY(5px);
    margin-left: 20px;

    img {
        width: 15px;
        height: auto;
        transform: translateY(2px);

    }

}

.linksPopUp {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 37, 28);
    width: 200px;
    height: fit-content;
    padding: 20px;
    top: 50px;
    left: 100px;
    z-index: 3;
    gap: 20px;
}

.hide {
    display: none;
}


@media (max-width:800px) {
    .links {
        display: none;
    }

    .move {
        transform: translateX(-25px);
    }

    .border {
        border: 1px solid white;
    }


    .big {
        width: 150px !important;
    }

    .searchInput {
        padding: 5px 5px 5px 5px;
    }

    .logo {
        width: 100px;
    }

    .linkSmall {
        font-size: 10px;
    }
  
}

@media (min-width:800px) {
    .linkSmall {
        display: none;
    }

    .linksPopUp {
        display: none;
    }

}

@media (max-width:400px) {
    

    .move {
        transform: translateX(-10px);
    }

    .border {
        border: 1px solid white;
    }

    .big {
        width: 100px !important;
    }  

    .linkSmall {
        font-size: 8px;
    }

    .searchInput::placeholder {
        color: transparent;
   }

 
}