<div id="contentStart">
    <div class="top">
        <img class="logo" src="../assets/img/Logo.png">
        <button class="button">Einloggen</button>
    </div>
    <div class="middle">
       <h1>Willkommen auf Videoflix!</h1><br>
       Genießen Sie unsere Vielzahl an Serien und Filmen!<br>
       Monatlich kündbar! <br>
       <div>
        <input class="input" type="email" placeholder="E-Mail-Addresse">
        <button class="button" >Einloggen</button>
       </div>
    </div>
    <div class="bottom">Genießen Sie unser Angebot für nur 5€ monatlich</div>
</div>
