#containerMain {
    box-sizing: border-box;
    padding: 20px 20px 20px 40px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: fit-content;
    // gap: 50px;
    background: rgb(10, 193, 148);
    background: radial-gradient(circle, rgba(10, 193, 148, 1) 0%, rgba(0, 0, 0, 1) 64%);

}


.episodeContainer{
    // background-color:  grey;
    width:100%;    
    margin-top:25px;
    padding: 10px 0 50px 0;

    img{
        width:100px;
        height:auto;
    }

}

.videoContainer::-webkit-scrollbar{   
    width: 5px; 
}
.videoContainer::-webkit-scrollbar-thumb{
   background-color: rgba(255, 255, 255,0.2);
   border-radius: 5px;

}


.filmCategoryLine {
    display: flex;
    // gap: 30px;
    transition:transform 2s ease;
    position: relative; 
    z-index: 1;  
  
}
.filmCategoryInnerLine {
    display: flex;
    gap: 30px;
    transition:transform 2s ease;
    position: relative; 
    z-index: 1;  
  
}

.arrowContainer{
    background-color: rgba(135, 110, 163,0.3);
    width:100%;
    height:100px;
    position: absolute;   
    left:0;
    bottom:50px;
    box-sizing: border-box;
    z-index: 0;
}

.arrowSize{
    height:60px;
    width:auto;
}

.arrowShiftLeft{   
    position: absolute;
    left:10px;
    top:calc(50% - 30px);
    z-index: 3;
    cursor: pointer;
}

.arrowShiftRight{   
    position: absolute;
    right:10px;
    top:calc(50% - 30px);
    z-index: 3;
    cursor: pointer;

}

.transformLine{
    transform: translateX(100px);
}

.videoContainer {
    display: flex;       
    // padding-left: 50px;   
    flex-direction: column;
    width:95%;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 80px;  
}

.sections {

    display: flex;
    flex-direction: column;
    gap: 30px;  
    width:100%; 
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    // overflow-x: scroll; 
    
}


.overlayShadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(1, 37, 28, 0.5);
    z-index: 1;

}


video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
} 


@media (max-width:1000px) {
   .filmCategoryInnerLine{
    gap:15px;
   }

   .arrowSize{
    height:50px;
   
   }
}

@media (max-width:600px) {
    #containerMain {      
        padding: 5px 5px 5px 5px;       
    
    }
 }


