#containerMain {
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: fit-content;
    gap: 50px;
    background: rgb(10, 193, 148);
    background: radial-gradient(circle, rgba(10, 193, 148, 1) 0%, rgba(0, 0, 0, 1) 64%);

}


.episodeContainer{
    // background-color:  grey;
    width:100%;    
    margin-top:25px;
    padding: 10px 0 50px 0;

    img{
        width:100px;
        height:auto;
    }

}

.videoContainer::-webkit-scrollbar{   
    width: 5px; 
}
.videoContainer::-webkit-scrollbar-thumb{
   background-color: rgba(255, 255, 255,0.2);
   border-radius: 5px;

}

.seasonSelection{
    position: absolute;
    width:100px;
    height:16px;    
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(1, 46, 35);
    right: 0px;
    top: 20px;
    border: 1px solid rgba(255, 255, 255,0.2);
}

.seasonSelectionBox{
    transform: translateY(15px) translateX(-70px);    
    border: 1px solid rgba(255, 255, 255,0.2);
    font-size: 14px;
    font-weight:bold;  
    padding: 15px 0px 15px 0px; 
    overflow: auto;
    height:100px;
    width:200px
}

.seasonSelectionBox::-webkit-scrollbar{   
     width: 5px; 
}
.seasonSelectionBox::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255,0.2);
    border-radius: 5px;

}

.seasonSelect{
    cursor: pointer;
    padding: 10px;
    &:hover{
        background-color: rgba(255, 255, 255,0.2)
    }
}

.episodeDetail{
    display: flex;
    align-items: center;
    gap:20px;
    cursor: pointer;
    padding:10px 0 10px 0;
    border-bottom: rgba(255, 255, 255,0.2) 1px solid;
}

.filmCategoryLine {
    display: flex;
    gap: 30px;
    transition:transform 2s ease;
    position: relative; 
    z-index: 1;  
  
}
.filmCategoryInnerLine {
    display: flex;
    gap: 30px;
    transition:transform 2s ease;
    position: relative; 
    z-index: 1;  
  
}

.arrowContainer{
    background-color: rgba(135, 110, 163,0.3);
    width:100%;
    height:100px;
    position: absolute;   
    left:0;
    bottom:50px;
    box-sizing: border-box;
    z-index: 0;
}

.arrowShiftLeft{
    height:60px;
    width:auto;
    position: absolute;
    left:10px;
    top:calc(50% - 30px);
    z-index: 3;
    cursor: pointer;
}

.arrowShiftRight{
    height:60px;
    width:auto;
    position: absolute;
    right:10px;
    top:calc(50% - 30px);
    z-index: 3;
    cursor: pointer;

}

.transformLine{
    transform: translateX(100px);
}

.videoContainer {
    display: flex;       
    padding-left: 50px;   
    flex-direction: column;
    width:95%;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 80px;
  
}

.sections {

    display: flex;
    flex-direction: column;
    gap: 30px;  
    width:100%; 
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    // overflow-x: scroll; 
    
}



.videoDiv {
    width: 300px;
    height: 170px;
    position: relative;
    background-color: rgb(1, 37, 28);

    .shortImg {
        width: 300px;
        height: 170px;
        cursor: pointer;
        position: absolute;
        left: 0;
        right: 0;
        transition: transform 1s;

    }
}



.detailedView {
    width: 900px;
    height: 800px;  
    overflow: auto; 
    background-color: rgb(1, 37, 28);
    position: absolute;
    left: calc(50% - 450px);
    top:20px;
    z-index: 2;
    opacity: 0;
    border-radius: 10px;

    #videoDetail {
        width: 100%;
        height: auto;
        border-radius: 10px;

    }   

}

.detailedView::-webkit-scrollbar{
    width: 0;
}

.overlayShadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(1, 37, 28, 0.5);
    z-index: 1;

}


video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

/* Zeige nur das Lautsprechersymbol */

.videoOverlay {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: rgba(1, 37, 28, 0.5);

}

.videoOverlayDetail {
    position: relative;
    width: 100%;
    height: 470px;
    background-color: rgba(1, 37, 28, 0.5);
}

.videoOverlayDetail button {   
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transform: scale(1.5);
}

.detailVideoControlls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 440px;
    left: 0px;
    width: 100%;
    height: 50px;
    padding: 0 20px 0 40px;
    box-sizing: border-box;
    

}

.playButtonDetail {
    margin-right: 25px;
    background-color: white !important;
    color: rgb(1, 37, 28) !important;
    border-radius: 10px;
    height: 30px;
}

.detailsViewBottom {
    height: 300px;
    padding: 50px 25px 50px 25px;
    color: white;
}

#closeButtonDetail {
    position: absolute;
    top: 20px;
    right: 20px;
}

.discription {
    color: white;
    margin: 5px;
    font-size: 14px;
    margin-bottom: 50px;
}

.translate40 {
    z-index: 1;
    transform: translateX(-40px);
    background-color: rgb(1, 56, 42) !important;
}

.likeButtons {
    position: relative;
    background-color: rgb(1, 37, 28);
    ;
    border-radius: 15px;
    display: flex;
    align-items: center;

}

.transparent {
    background-color: transparent !important;
}

.opaqu {
    opacity: 0;
}

.animiert {
    animation: fadeIn 1s ease forwards;
    /* Verwendet die fadeIn-Animation über 1 Sekunde */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.playbutton {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 5px 5px 5px 5px;    
 
    &:hover {
        filter: brightness(80%);
    }
}

