<div id="containerMain">
    <app-header [number]="0"></app-header>
    <div class="videoContainer">
        <video #srcVideo *ngFor="let i of [0,1,2]" id="srcVideo" class="video" controls>
            <source src="{{videoUrl}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <!-- <video #srcVideo id="srcVideo" controls>
        <source src="{{videoUrl}}" type="video/mp4">
        Your browser does not support the video tag.
    </video> -->   
</div>