.impressum{
    background-color: rgba(1, 37, 28, 0.5);
    color: white;
    padding: 10px 50px 50px 50px ;    
}

a{
    color:rgb(10, 193, 148);
}

.links{
    color: white;
    text-decoration: none;
    font-size: 16px;
}