#contentLogin {
    padding: 20px 200px 20px 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;    
    background: rgb(10, 193, 148);
    background: radial-gradient(circle, rgba(10, 193, 148, 1) 0%, rgba(0, 0, 0, 1) 64%);
}

.logo {
    width: 150px;
    height: auto;
}

.loginScreen {
    width: 400px;
    height: 600px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;    
    padding: 30px;
    box-sizing: border-box;

}

.middle {
    display: flex;
    justify-content: center;
    text-align: center;
}

.inputFields {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(70, 70, 70);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    color: rgba(219, 219, 219, 0.973);
    margin-bottom: 10px;
    text-align: start;
    display:flex ;
    flex-direction: column;

}

.input {
    background-color: transparent;
    border: none;
    margin-top: 5px;
    color: white;
}

.input:focus {
    outline: none;
}

.forgotPW {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.signUp {
    color: rgb(180, 180, 180);
    font-size: 12px;
}

.signUpLink {
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.fullwith{
    width : 100%;
}

.falseData{
    color: red;
    font-size: 16px;
}