<div id="contentLogin">
    <div class="logocontainer">
        <img class="logo" src="../assets/img/Logo.png">
    </div>
    <div class="middle">
        <div class="loginScreen">
            <a class="forgotPW" routerLink="/">zurück</a>
            <h1>Einloggen</h1>
            <form (submit)="login()">
                <div style="margin-bottom:50px;">
                    <div class="inputFields">
                        <span>Email-Addresse</span>
                        <input [(ngModel)]="email" class="input" type="email" name="email">
                    </div>
                    <div class="inputFields">
                        <span>Passwort</span>
                        <input [(ngModel)]="password" class="input" type="password" name="password">
                    </div>
                    <div>
                        <button type="submit" class="button fullwith">Einloggen</button>
                    </div>
                </div>
            </form>
            <div class="falseData" *ngIf="falseData">Sie haben die falschen login Daten!</div>
            <div class="falseData" *ngIf="notVerified">Sie haben ihren Account nocht nicht verifiziert! Überprüfen sie bitte ihre E-mails.</div>
            <a class="forgotPW" routerLink="/forgotpassword">Passwort vergessen?</a>
            <br>
            <span class="signUp">Sind Sie neu bei Videoflix? <a class="signUpLink" routerLink="/signup">Jetzt
                    registrieren</a></span>

        </div>
    </div>
    <div class="bottom"></div>
</div>