
.videoDiv {
    width: 300px;
    height: 170px;
    position: relative;
    background-color: rgb(1, 37, 28);
    transition: transform 1s;
    border-radius: 5px;

    .shortImg {
        width: 300px;
        height: 170px;
        cursor: pointer;
        position: absolute;
        left: 0;
        right: 0;
        transition: transform 1s;

    }
}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

.moveUp{
    transform: translateY(-50px);
}

/* Zeige nur das Lautsprechersymbol */

.videoOverlay {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: rgba(1, 37, 28, 0.5);
    border-radius: 5px;

}

.videoOverlay button {
    position: absolute;
    bottom: 25px;
    right: 10px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.videoButtons {
    display: flex;
    justify-content: space-between;
    padding: 5px;


}


.translate40 {
    z-index: 1;
    transform: translateX(-40px);
    background-color: rgb(1, 56, 42) !important;
}

.likeButtons {
    position: relative;
    background-color: rgb(1, 37, 28);
    ;
    border-radius: 15px;
    display: flex;
    align-items: center;

}

.transparent {
    background-color: transparent !important;
}

.opaqu {
    opacity: 0;
    /* Startet mit unsichtbarem Inhalt */
    // transition: opacity 2s ease-in-out;

}

.animiert {
    animation: fadeIn 1s ease forwards;
    /* Verwendet die fadeIn-Animation über 1 Sekunde */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.playbutton {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 5px 5px 5px 5px;    
 
    &:hover {
        filter: brightness(80%);
    }
}

.videobutton {
    background-color: rgb(10, 193, 148);
    width: 30px;
    height: 30px;
    border-radius: 10px;    
}

.foreground {
    z-index: 1;
}

.shortScreen {
    transform: scale(1.2);
    border-radius: 5px;
    background-color: rgb(1, 37, 28);

}


.video {
    width: 300px;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;


}

.scale {
    transform: scale(1.2);
}